*{
    margin: auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color: #1d1d1b;
    text-align: center;
    list-style:none;
    text-decoration: none;
}
body{
    max-width: 375px;
    height: 1500px;
    background-color: #f2eceb;
    background-repeat: no-repeat;
}
.home-body{
    background-color: rgb(242,236,235);
    background: linear-gradient(135deg, rgba(242,236,235,1) 0%, rgba(253,222,172,1) 100%);
}
.content-container{
    max-width: 340px;
    margin: auto;
}
.destaque{
    color: #6f1228;
}
.mont-medium{
    font-weight: 500;
}
.din{
    font-family: din-condensed,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.flex{
    display: flex;
}
footer{
    background-color: #6f1228;
    margin: auto;
    z-index: 999;
}
#presentacion{
    height: 300px;
    background-image: url(/img/joven-bebiendo.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    text-align: center;
    flex-direction: column;
    align-content: space-around;
}
#presentacion .button{
    background-color:#6d8d3f;
    border-radius: 50px;
    padding: 15px;
    margin-top: 130px;
    box-shadow : 0px 1px 7px rgba(0, 0, 0, 0.4);
    color: #f2eceb;
}
#presentacion .button:hover{
    background-color: #f2eceb;
    color: #6d8d3f;
}
.seccion-megatlon{
    background-color: #6f1228;
    flex-direction: column;
}
.seccion-megatlon h2, h3, p{
    color: #f2eceb;
}
.seccion-megatlon h2{
    font-size: 18pt;
}
.seccion-megatlon h3{
    font-size: 45pt;
    text-transform: uppercase;
}
.oferta-megatlon{
    width: 100%;
    justify-content: space-evenly;
    background: #6f1228 url(/img/work-out.jpeg) no-repeat bottom center;
    background-size: contain;
    height: 200px;
}
.oferta-megatlon p{
    text-align: left;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #f2eceb;
    position: relative;
    border-radius: 0px 0px 12px 12px;
    box-shadow : 0px 1px 7px rgba(0, 0, 0, 0.4);
}
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}
.topnav #myLinks li::before {
    content: '';
    display: block;
    max-width: 100%;
    height: 1px;
    background: #6d8d3f;
    margin: 0 auto;
}
.topnav #myLinks ul{
    max-width: 95%;
    margin: 0 auto;
}
/* Style navigation menu links */
.topnav a {
    color: #1d1d1b;
    padding: 14px 16px;
    display: block;
}
/* Style the hamburger menu */
.topnav a.icon {
    color: #1d1d1b;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}