*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}







/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;
}
.nav-icon{
    margin: 0;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}
.topnav #myLinks li::before {
    content: '';
    display: block;
    max-width: 100%;
    height: 1px;
    background: #6d8d3f;
    margin: 0 auto;
}
.topnav #myLinks ul{
    max-width: 95%;
    margin: 0 auto;
}
/* Style navigation menu links */
.topnav a {
    color: #1d1d1b;
    padding: 14px 16px;
    display: block;
}
/* Style the hamburger menu */
.topnav a.icon {
    color: #1d1d1b;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}