@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    color: #1d1d1b;
    text-align: center;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background: linear-gradient(136deg, #F2ECEB 0.46%, #FDDEAC 89.24%);
    background-repeat: no-repeat;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    box-shadow : 0px 1px 7px rgba(0, 0, 0, 0.4);
}
nav{
    display: flex;
    justify-content: space-between;
}
main{
    margin-top: 50px;
}
.container{
    max-width: 375px;
}
.c-container{
    max-width: 340px;
}
.f{
    display: flex;
}
.b{
    display: block;
}

/*FONDOS --------------------------------*/
.bk-gray{
    background-color: #F2EDEA;
}
.bk-maroon{
    background-color: #6F1228;
} 
.bk-presentacion{
    height: 290px;
    background-image: url(/img/joven-bebiendo.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.bk-megatlon-2{
    background: #6d8d3f url(/img/work-out.jpeg);
    height: 185px;
    background-size: contain;
}
.bk-megatlon-1{
    background-color: #6D8D3F;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

/*TEXTOS --------------------------------*/
.titulos{
    font-size: 25px;
    font-weight: 500;
}
.sub-1c{
    font-size: 18px;
    font-weight: 700;
}
.sub-2c{
    font-size: 14px;
    font-weight: 700;
}
.text-home{
    font-size: 16px;
    font-weight: 400;
}
.text-paragraph{
    font-size: 14px;
    font-weight: 400;
}
.other-text{
    font-size: 12px;
    font-weight: 400;
}
span{
    color: #6F1228;
}
.gray{
    color: #F2ECEB;
}
.maroon{
    color: #6F1228;
}

/*BOTONES ---------------------------------*/
.button-s{
    width: 150px;
    height: 36px;
    border-radius: 100px;
    background: #6D8D3F;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.button-s a{
    color: #F2ECEB;
    display: block;
    justify-content: center;
    align-items: center;
}
.button-m{
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 50px;
    border-radius: 100px;
    background: #6D8D3F;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.button-m a{
    color: #F2ECEB;
    display: block;
}
.button-l{
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 50px;
    border-radius: 100px;
    background: #6D8D3F;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.button-l a{
    color: #F2ECEB;
    display: block;
}

/* NAVBAR ------------------------------ */
.topnav {
    overflow: hidden;
    position: relative;
}
.nav-icon{
    margin: 0;
}
.topnav #myLinks {
    display: none;
}

#logo-gl-nav{
    display: inline;
}

.topnav #myLinks li::before {
    content: '';
    display: block;
    max-width: 100%;
    height: 1px;
    background: #6d8d3f;
    margin: 0 auto;
}
.topnav #myLinks ul{
    max-width: 95%;
    margin: 0 auto;
}
/* Style navigation menu links */
.topnav a {
    padding: 14px 16px;
    display: block;
}
/* Style the hamburger menu */
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
#relleno-para-nav{
    width: 60px;
    height: 50px;
}

.megatlon{
    padding-bottom: 8px;
    flex-direction: column;
}
.megatlon h2{
    font-size: 19px;
}
.megatlon h3{
    text-transform: uppercase;
    font-size: 61px;
}
.bk-megatlon-1 p{
    font-size: 16px;
    text-align: left;
}
.bk-megatlon-1 img{
    display: block;
    width: 195px;
}

.scroll{
    height: 50px;
    background-image: url(/img/scroll.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#form-beneficio{
    height: 400px;
    padding: 20px 0px;
}
/*estilo del form ----------------------*/
.formulario-box{
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 300px;
}
label{
    font-size: 16px;
    background-color: #f2eceb;
}
::placeholder{
    text-align: left;
    color: #1d1d1b;
}
.formulario-box input, select{
    width: 335px;
    padding: 7px 0px 7px 0px;
    border: none;
    text-align: start;
    background-color: #f2eceb;
}
select{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url(/img/select.svg);
    background-size: 8%;    
}
select::-ms-expand {
    display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
}
option{
    text-align: left;
}


#te-ofrecemos{ 
height: 243px;
}
