*{
    
}
/*estilo del form*/
.formulario-box{
    flex-direction: column;
    height: 300px;
}
input .form-campos{
    font-size: 16px;
    background-color: #f2eceb;
}
::placeholder{
    text-align: left;
    color: #1d1d1b;
}
.form-campos{
    width: 335px;
    padding: 7px 0px 7px 0px;
    border: none;
    text-align: start;
    background-color: #f2eceb;
}
select{
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url(/img/select.svg);
    background-size: 8%;    
}
select::-ms-expand {
    display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
}
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;
}
.nav-icon{
    margin: 0;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}
.topnav #myLinks li::before {
    content: '';
    display: block;
    max-width: 100%;
    height: 1px;
    background: #6d8d3f;
    margin: 0 auto;
}
.topnav #myLinks ul{
    max-width: 95%;
    margin: 0 auto;
}
/* Style navigation menu links */
.topnav a {
    color: #1d1d1b;
    padding: 14px 16px;
    display: block;
}
/* Style the hamburger menu */
.topnav a.icon {
    color: #1d1d1b;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}