@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
*{
    margin: 0 auto; /*Profe, usamos margin 0 auto para centrar solo horizontalmente (El primer valor para arriba y abajo, el segundo valor para izquierda y derecha.)*/
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1d1d1b;
    text-align: center;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #f2edec;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    box-shadow : 0px 1px 7px rgba(0, 0, 0, 0.4);
}
nav{
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
nav img{
    height: 20px;
}
main{
    margin-top: 60px;
}
.body-home{
    background: linear-gradient(136deg, #F2ECEB 0.46%, #FDDEAC 89.24%);
    background-repeat: no-repeat;
}
.container{
    max-width: 375px;
}
.c-container{
    max-width: 340px;
}


.f{
    display: flex;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.b{
    display: block;
}
.wrap{
    flex-wrap: wrap;
}
/*SITIO EN CONSTRUCCIÓN ---------------------------*/
.construccion{
    margin-top: 100px;
    margin-bottom: 25px;
}
/*FONDOS --------------------------------*/
.bk-gray{
    background-color: #F2EDEA;
}
.bk-maroon{
    background-color: #6F1228;
} 
.bk-presentacion{
    height: 290px;
    background-image: url(../img/joven-bebiendo.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.bk-megatlon-2{
    height: 185px;
    background: #6d8d3f url(../img/work-out.jpeg) no-repeat bottom center;
    background-size: contain;
    margin: 0;
}
.bk-megatlon-1{
    background-color: #6D8D3F;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

/*TEXTOS --------------------------------*/
.titulos{
    font-size: 25px;
    font-weight: 500;
}
.sub-1c{
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}
.sub-2c{
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}
.text-home{
    font-size: 16px;
    font-weight: 400;
}
.text-paragraph{
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.other-text{
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}
.right{
    text-align: right;
}
span{
    color: #6F1228;
}
/*COLORES ---------------------------------*/
.gray{
    color: #F2ECEB;
}
.maroon{
    color: #6F1228;
}

/* NAVBAR ------------------------------ */
.topnav{
    overflow: hidden;
    position: relative;
}
.nav-icon{
    margin: 0;
}
.topnav #myLinks {
    display: none;
}

#logo-gl-nav{
    display: inline;
}
#logo-gl-cart{
    padding-left: 87px;
}
#user-nav, #relleno-menu, #cart-nav{
    margin: 0;
}
header div{
    margin: 0;
}
.topnav #myLinks li::before {
    content: '';
    display: block;
    max-width: 100%;
    height: 1px;
    background: #6d8d3f;
    margin: 0 auto;
}
.topnav #myLinks ul{
    max-width: 95%;
    margin: 0 auto;
    justify-content: center;
}
/* Style navigation menu links */
.topnav a {
    padding: 14px 16px;
    display: block;
}
/* Style the hamburger menu */
.topnav a.icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
#relleno-menu{
    width: 55px;
    height: 55px;
}

.megatlon{
    padding-bottom: 8px;
    flex-direction: column;
}
.megatlon h2{
    font-size: 19px;
}
.megatlon h3{
    text-transform: uppercase;
    font-size: 61px;
}
.bk-megatlon-1 p{
    font-size: 16px;
    text-align: left;
}
.bk-megatlon-1 img{
    display: block;
    width: 195px;
}

.scroll{
    height: 50px;
    background-image: url(../img/scroll.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/*estilo del form ----------------------*/
input{
    border: none;
}
.formulario-box{
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 300px;
}
label{
    font-size: 16px;
    background-color: #f2edec;
}
::placeholder{
    text-align: left;
    color: #1d1d1b;
}
.formulario-item{
    width: 335px;
    padding: 7px 0px 7px 0px;
    border: none;
    text-align: start;
    background-color: #f2eceb;
}
select{
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url(../img/select.svg);
    background-size: 8%;    
}
select::-ms-expand {
    display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
}
option{
    text-align: left;
}
#te-ofrecemos{
    margin: 10px 0px 10px 0px;
}
.slide{
    margin: 5px 0px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

/*Estilo para slider -----------------*/
#slide-1a, #slide-1b{
    height: 188px;
    width: 340px;
    border-radius: 12px;
    padding: 88px 20px 10px 20px;
    background-size: 340px 222px;
    background-repeat: no-repeat;
    background-position: center;
}
#slide-1a{
    background-image: url(../img/slider-1a.png);
}
#slide-1b{
    background-image: url(../img/slider-1b.png);
}
#comunidad{
    height: 235px;
}
#comunidad, #patrocinadores{
    padding: 20px 0px;
}
footer{
    margin-top: 20px;
    text-transform: uppercase;
    line-height: 25px;
}
footer img{
    height: 35px;
    margin: 5px 8px;
}

#help{
    margin: 5px;
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
}
.center{
    justify-content: center;
}
#inicio-productos h2{
    margin-bottom: 20px;
}
#medios-de-pago{
    margin-top: 20px;
}
/*BOTONES ---------------------------------*/
.button-s{
    width: 165px;
    height: 50px;
    border-radius: 100px;
    background: #6D8D3F;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    margin: 0;
}
.button-s a{
    justify-content: center;
    align-items: center;
}
.text-s-m{
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
}
.button-m{
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 50px;
    border-radius: 100px;
    background: #6D8D3F;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    margin: 0;
}
.button-m a{
    color: #F2ECEB;
    display: block;
}
.button-l{
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 50px;
    border-radius: 100px;
    background: #6D8D3F;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    margin: 0;
}
.button-l a{
    color: #F2ECEB;
    display: block;
    font-weight: 500;
}
.text-l{
    font-size: 20px;
    font-weight: 500;
    line-height: 48px;
}
.margen-boton{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*DISEÑO CARDS -------------------------*/
.card-2c{
    width: 159px;
    height: 221px;
    margin: 10px 5.5px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
}
.card-2c img{
    padding: 10px;
    border-radius: 15px;
    width: 150px;
    margin-bottom: 15px;
}
.card-2c-text{
    padding: 5px 12px 5px 12px;
}
.card-1c-text{
    padding: 7px 18px 9px 18px;
}
.white-cover-card-1c{
    width: 340px;
    height: 343px;
    border-radius: 12px;
    color: #f2edec;
}
.card-1c{
    position: relative;
    width: 340px;
    height: auto;
    margin: 20px auto;
    padding-bottom: 10px;
    overflow:hidden;
    position:relative;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
}
.card-1c img{
    width: 340px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card-profesional{
    width: 340px;
    height: 188px;
}
.img-profesional{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.data-profesional{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(252, 248, 234, 0.8);
    height: 45%;
    width: 100%;
}
#star img{
    height: 15px;
    width: auto;
    margin: 10px 0px 0px 0px;
    padding: 0;
}

.autoplay2 img{
    margin: 15px;
}
.globo{
    width: 340px;
    height: 115px;
    padding: 10px;
    margin-bottom: 7px;
    background-image: url(../img/globo-dialogo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.cuenta-tw{
    margin: 0;
    padding: 0;
}
.line{
    height: 0.5px;
    width: 340px;
    margin: 15px 0px;
    background-color:#676565;
}
#item-added{
    height: 75px;
    align-items: center;
}
#item-added img{
    height: 40%;
    margin-right: 10px;
}
#info-carrito{
    position: relative;
}
#producto-img{
    height: 111px;
    width: auto;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
}
#cerrar{
    position: absolute;
    top: 25%;
    right: 8%;
    height: 20px;
    width: auto;
}
.between{
    justify-content: space-between;
}

.between p{
    margin: 0;
}
.between div{
    margin: 0;
}
.between h4{
    margin: 0;
}
#add-stock{
background-color: #6D8D3F;
width: 83px;
height: 28px;
border-radius: 6px;
align-items: center;
justify-content: space-around;
}
#add-stock input{
    width: 35px;
    height: 24px;
    border-radius: 3px;
}
#add-stock a{
    color: #F2ECEB;
}